:root{
    --color-primary: #EB4A5A;
    --color-secundary: #f9fafc;
    --color-third: #F6F3F3;
    --color-fourth: #434343;
    --color-fifth: #274671;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    /* font-size: 62.5%; */
  }
body{
    margin: 0;
    padding: 0;
    
}
 /* header */
.main-background{
    background-color: var(--color-primary);
    text-align: center;
}
.main-background img{
    height: 200px;
}
.container-header{
    background-color:var(--color-third);
    display: flex;
    justify-content:space-between;
    padding: 0 4.0rem;
}
.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-academlo{
    height: 50px;
}
 /* main filter */
.container-filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}
/* products */
.container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 30px;
}
.container-item{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.container-item p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.container-item button{
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 0.5px solid var(--color-third);
    padding: 10px;
    color: var(--color-third);
    cursor: pointer;
}
/* .container-item button:hover{
    transform: scale(105%);
} */
@media (max-width: 925px) {
    .container-products{
        justify-content: center;
    }
}

