:root{
    --color-primary: #EB4A5A;
    --color-secundary: #f9fafc;
    --color-third: #F6F3F3;
    --color-fourth: #434343;
    --color-fifth: #274671;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    margin: 0;
    padding: 0;
    
}
 /* header */
.main-background{
    background-color: var(--color-primary);
    text-align: center;
}
.main-background img{
    height: 200px;
}
.container-header{
    background-color:var(--color-third);
    display: flex;
    justify-content:space-between;
    padding: 0 4.0rem;
}
.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-academlo{
    height: 50px;
}
 /* main filter */
.container-filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}
/* products */
.container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 30px;
}
.container-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px var(--color-third) solid;
    border-radius: 10px;
    margin: 10px;
    ;
}
.container-item img{
    width: 70%;
}
.container-item p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}
.container-item button{
    background-color: var(--color-secundary);
    border-radius: 5px;
    border: 0.5px solid var(--color-primary);
    padding: 10px;
    color: var(--color-primary);
    cursor: pointer;
    margin-bottom: 15px;
}
.container-item button:hover{
    background-color: var(--color-primary);
    border: 0.5px solid var(--color-primary);
    color: var(--color-secundary);
}
.container-item button:active{
    background-color:#eb4a5a91;
    border: 0.5px solid var(--color-primary);
    color: var(--color-secundary);
}

/* footer */
.container-footer{
    background-color:var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 0 4.0rem;
    color: var(--color-secundary);
}
.logo-footer{
    width: 50px;
}
.carrito-sticky{
    width: 75px;
    height: 75px;
    border: 2.5px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 60px;
    right: 10px;
    /* background-color:var(--color-secundary); */
}
.carrito-sticky:hover{
    background-color: var(--color-primary);
    border: 0.5px solid var(--color-primary);
}
.carrito-sticky:active{
    background-color:#eb4a5a91;
    border: 0.5px solid var(--color-primary);
    color: var(--color-secundary);
}
.carrito-sticky:hover svg{
    stroke: var(--color-secundary);
}
.carrito-sticky svg{
    width: 50px;
}
@media (max-width: 960px) {
    .container-products{
        justify-content: center;
    }
}

